			body{
				background-color: rgba(100,100,100,0.1);
			}
			footer {
				z-index: 2;
				display:block;
				clear: both;
				color: #fff;
				padding: 10px 50px;
				position: fixed;
				bottom: 0px;
				width: 100%;
				background-color:rgb(24, 52, 70);
				font-family: Play,roboto,museo,arial,tahoma,verdana,sans-serif;
				max-height:35px;
			}
			a{
				font-family: Play,roboto,museo,arial,tahoma,verdana,sans-serif;
				-webkit-transition-duration: 0.2s; 
				transition-duration: 0.2s;
				text-decoration: none;
			}
			
			blockquote{
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
			}
			input[type="text"]{
				font-family: Play,roboto,museo,arial,tahoma,verdana,sans-serif;
			}
			blockquote {
			  background: #f9f9f9;
			  margin: 10px;
			  padding: 5px;
			  font-size: 16px;
			  quotes: "\201C""\201D""\2018""\2019";
			}
			blockquote p {
			  display: inline;
			  padding-right: 5px;
			}
			
			a:hover {
				text-decoration: none;
				border: 0px;
			}
			a:active {
				text-decoration: none;
				border: 0px;
			}
			a:after {
				text-decoration: none;
				border: 0px;
			}
			a:link {
				text-decoration: none;
				border: 0px;
			}
			a:visited {
				text-decoration: none;
				border: 0px;
			}
			
			button:focus {
				outline:0px;
				border: 0px;
			}
			button:active {
				outline: 0px;
				border: 0px;
			}
			
			input[type="text"]{
				outline: 0px;
				border-bottom: 1px solid rgba(80,80,80,0.3);
				background-color:transparent;
				min-height: 40px;
				color: rgba(80,80,80,0.8);
			}
			input[type="text"]:active{
				outline: 0px;
				border-bottom: 0px;
				border: 0px;
				color: rgba(10,10,10,1.0);
			}
			input[type="text"]:focus{
				outline: 0px;
				border-bottom: 0px;
				border: 0px;
				color: rgba(10,10,10,1.0);
			}
			input[type="password"]{
				outline: 0px;
				border-bottom: 1px solid rgba(80,80,80,0.3);
				background-color:transparent;
				min-height: 40px;
				color: rgba(80,80,80,0.8);
			}
			input[type="password"]:active{
				outline: 0px;
				border-bottom: 0px;
				border: 0px;
				color: rgba(10,10,10,1.0);
			}
			input[type="password"]:focus{
				outline: 0px;
				border-bottom: 0px;
				border: 0px;
				color: rgba(10,10,10,1.0);
			}
			input[target]{
				background-color:transparent;
			}
			p{
				text-align: justify;
				text-justify: inter-word;
			}		
			
/*IDS-------------------------------------------------------------------------*/
			#bgLayer {
				position: fixed; 
				top: 0; 
				left: 0;
				min-width: 100%;
				min-height: 100%;
				opacity:0.5;
				z-index:-1;
			}
			#alert_Text{
				font-size: 10px;
				margin-bottom:5px;
				padding-bottom:5px;
			}
			#hexIcon{
				position:fixed;
				top:5px;
				width:50px; 
				height:50px;
			}			
			#matricula, #senha{
				font-size: inherit;
				outline: none;
				vertical-align: middle;
				border-radius: 5px;
			}
			#checkAll, #uncheckAll{
				-webkit-transition-duration: 0.2s; 
				transition-duration: 0.2s;
			}
			#checkAll:hover, #uncheckAll:hover{
				background-color: #cccccc;
				
			}
			#tabtxt1, #tabtxt2, #tabtxt3, #tabtxt4{
				box-shadow: 1px 1px 2px 1px rgba(110, 110, 110, 0.5);
				border-radius: 5px;
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
			}
			#tabtxt1:hover, #tabtxt2:hover, #tabtxt3:hover, #tabtxt4:hover{
				background-color: rgb(44, 62, 80);
				color:#f0f0f0;
				border: 1px solid #00a0ff;
			}
			#extraTimemodal{
				position: fixed;
				top:20%;
			}
			#myprofile{
				color: #fff;
				background-color:rgb(44, 62, 80);
				border: 1px solid #00a0ff;
				border-radius: 5px;
			}
			#imgLogon{
				position: absolute;
				top: 10px;
				left: 90px;
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
			}
			#imgLogon:hover{
				color: rgba(0, 130, 200, 1.0);
			}
			#toTop{
				position:fixed;
				padding: 5px;
				left: 25px;
				bottom: 50px;
				display: none;
				background-color: rgba(0,220,100,1.0);
				color: #eee;
				border-radius: 50px;
				width:50px;
				height:50px;
			}
			#toTop:hover{
				background-color: rgba(0,180,80,1.0);
				color: #fff;
			}
			#tempo{
				font-size:16px;
			}
			#loading{
				display:none;
				z-index:9999;
				position:fixed;
				top:0px;
				background-color: rgba(50, 50, 50, 0.8);
				width: 100%;
				height: 100%;
			}
			#dialogLoading{
				position: absolute;
				top: 50%;
				left: 50%;
				margin-right: -50%;
				transform: translate(-50%, -50%);
				color:#fff;
				font-size: 28px;
				text-shadow: 2px 2px rgba(20,20,20,0.7);
				
				/*position:fixed;
				top:30%;
				color:#fff;
				font-size: 28px;
				text-shadow: 2px 2px rgba(20,20,20,0.7);
				margin: 0px 0 0 -50px;
				left: 50%;*/
			}
			#loadGif{
				
			}
			#warning{
				display:none;
				z-index:9;
				position:fixed;
				top:0px;
				background-color: rgba(50, 50, 50, 0.8);
				width: 100%;
				height: 100%;
			}
			#dialogWarning{
				position:fixed;
				top:20%;
				color:#fff;
				font-size: 28px;
				text-shadow: 2px 2px rgba(20,20,20,0.7);
				margin: 0px 0 0 -50px;
				left: 80px;
			}
			#msgDiv{
				display:none;
				z-index:9;
				position:fixed;
				top: 0px;
				background-color: rgba(50, 50, 50, 0.8);
				width: 100%;
				height: 100%;
			}
			#dialog{
				display:none;
				z-index:10;
				position:fixed;
				width:50%;
				top: 35%;
				margin-left: 25%;
				padding-bottom: 25px;
				color: rgba(80,80,80,0.8);
				box-shadow: 2px 2px 10px #222;
				background-color: #fff;
				border-radius:2px;
				
			}
			#msgHeader{
				position:absolute;
				top:5px;
				left:10px;
				margin-top:5px;
				border-radius: 2px;
				margin-bottom:px;
				font-size: 18px;
			}
			#msgBody{
				font-size: 22px;
			}
			
			#elm1{
				border-radius: 5px;
			}
			#checkMail{
				padding-right:25px;
			}
			#user, #password{
				width:150px;
			}
			#userCard{
				position:fixed;
				right:5px;
				top:5px;
				z-index:1200;
			}
			#dropMenu{
				background-color:rgba(0,180,230,0.8);
				outline:0px;
				border: 0px;
				border-radius: 40px;
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
				max-height:50px;
			}
			#dropMenuADM{
				background-color:rgba(100,100,100,0.8);
				outline:0px;
				border: 0px;
				border-radius: 40px;
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
				max-height:50px;
			}
			#dropMenu:hover{
				background-color:rgba(0,150,230,1.0);
				box-shadow:0px 2px 1px 0px rgba(80,80,80,0.4);
			}
			#dropMenuContent{
				left:50px;
				text-align:left;
				padding: 5px;
				border:0px;
				background-color:#fff;
				border-radius: 2px;
				box-shadow:0px 2px 1px 0px rgba(80,80,80,0.4);
			}
			#closebtn{
				position:relative;
				right:5px;
			}
			#help{
				position:fixed;
				right:15px;
				top:10px;
				z-index: 9999;
			}
			#main{
				display:none;
			}
			#tooltip-ex{
				min-width:100px;
			}
			
/*CLASS-------------------------------------------------------------------*/
			.pointer:hover{
				cursor: pointer;
			}
			.modal{
				z-index:1201;
			}
			.hexIcon{
				position:absolute;
				top:5px;
				width:50px; 
				height:50px;
			}
			.form-control{
				outline: 0px;
				border-bottom: 1px solid rgba(80,80,80,0.3);
				border-radius: 0px;
				max-height:40px;
				color: rgba(80,80,80,0.8);
			}
			.form-control:focus{
				outline: 0px;
				border-bottom: none;
				color: rgba(10,10,10,1.0);
			}
			.form-control:active{
				outline: 0px;
				border-bottom: none;
				color: rgba(10,10,10,1.0);
			}
			.bottomCornerImg{
				position: fixed; 
				bottom: 0; 
				right: 0;
				min-width: 70%;
				min-height: 70%;
				max-width: 70%;
				max-height: 70%;
				z-index:-1;
			}
			.centralized{
				position: absolute;
				top: 50%;
				left: 50%;
				margin-right: -50%;
				transform: translate(-50%, -50%);
			}			
			.slider {
				position: absolute;
				display:block;
				top:100%;
				margin:0 auto;
				height: 2px;
				background-color: #0cf;
				width: 0;
			}
			.slide_ {
				position: absolute;
				display:block;
				top:100%;
				margin:0 auto;
				height: 2px;
				background-color: #0cf;
				
				width: 0;
				margin-left: 16px;
			}
			.inline{
				display:inline-block;
			}
			
			.underline{
				display: inline-block;
				padding: 6px 0px 4px;
				margin: 0px 8px 0px;
				position: relative;
			}
			.underline:before{
				content: '';
				position: absolute;
				width: 100%;
				height: 0px;
				border-bottom: 1px solid #0cf;
				bottom: 2px;
				-webkit-transform: translate(-50%, 0);
				-ms-transform: translate(-50%, 0);
				transform: translate(-50%, 0);
				-webkit-transform: scaleX(0);
				-ms-transform: scaleX(0);
				transform: scaleX(0);
				-webkit-transition: -webkit-transform 0.2s ease-in-out;
				transition: transform: 0.2s ease-in;
			}
			.underline:hover:before{
				-webkit-transform: translate(-50%, 0);
				-ms-transform: translate(-50%, 0);
				transform: translate(-50%, 0);
				-webkit-transform: scaleX(1);
				-ms-transform: scaleX(1);
				transform: scaleX(1);
			}
			.underlineHover{
				border-left: 2px solid transparent;
			}
			.underlineHover:hover{
				border-bottom: 2px solid #0cf;
			}
			.dropContent{
				position:relative;
				bottom:10px;
				left:-15px;
			}
			.padding10{
				padding:10px;
			}
			.top10{
				margin-top:10px;
			}
			.top20{
				margin-top:20px;
			}
			.bottom10{
				margin-bottom:10px;
			}
			.bottom20{
				margin-bottom:20px;
			}
			.minHeight100{
				min-height: 100px;
			}
			.minHeight200{
				min-height: 200px;
			}
			.minWidth100{
				min-width: 100px;
			}
			.minWidth200{
				min-width: 200px;
			}
			.blue{
				color:rgba(0,160,240,1.0);
			}
			.lblue{
				color: #0cf;
			}
			.dblue{
				color: rgba(0, 62, 100, 1.0);
			}
			.blueHover:hover{
				color:rgba(0,160,240,1.0);
			}
			.blue-gradient{
				color:rgba(0,160,240,1.0);
				background: -webkit-linear-gradient(#eee, rgb(0,160,240));
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				
			}
			.green{
				color:rgba(0,220,100,1.0);
			}
			.dgreen{
				color:rgba(0,130,80,1.0);
			}
			.red{
				color:rgba(240,0,0,1.0);
			}
			.redHover:hover{
				color:rgba(240,0,0,1.0);
			}
			.red-gradient{
				color:rgba(240,0,0,1.0);
				background: -webkit-linear-gradient(#eee, rgb(240,0,0));
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			.black{
				color:rgba(40,40,40,0.8);
			}
			.yellow{
				color:rgba(250,180,0,1.0);
			}
			.orange{
				color:rgba(255,100,0,1.0);
			}
			.white{
				color:#ffffff;
			}
			.bggreen{
				background-color:rgba(0,220,100,1.0);
			}
			.bgdgreen{
				background-color:rgba(0,130,80,1.0);
			}
			.bgred{
				background-color:rgba(240,0,0,1.0);
			}
			.bgblue{
				background-color:rgba(0,160,240,1.0);
			}
			.bglblue{
				background-color: #0cf;
			}
			.bgdblue{
				background-color: rgba(0, 62, 100, 1.0);
			}
			.bgblack{
				background-color:rgba(40,40,40,0.8);
			}
			.bggrey{
				background-color:rgba(100,100,100,1);
			}
			.bgwhite{
				background-color:#ffffff;
			}
			.bgyellow{
				background-color:rgba(250,180,0,1.0);
			}
			.bgorange{
				background-color:rgba(255,100,0,1.0);
			}
			.xs{
				font-size:10px;
			}
			.sm{
				font-size:16px;
			}
			.md{
				font-size:20px;
			}
			.lg{
				font-size:28px;
			}
			.xl{
				font-size:36px;
			}
			.xxl{
				font-size:48px;
			}
			.right{
				position:absolute;
				right:15px;
			}
			.margin{
				padding:20px;
			}
			.chip{
				background-color: rgba(80, 80, 150, 0.5);
				border-radius: 10px;
				color: #fff;
				padding: 5px;
			}
			.cardStyle{
				
				padding:5px;
				border-radius:2px;
				box-shadow:0px 2px 1px 0px rgba(80,80,80,0.4);
				background-color:#ffffff;
			}
			.cardStyleBlue{
				padding:5px;
				border-radius:5px;
				box-shadow:0px 2px 1px 0px rgba(80,80,80,0.4);
				background-color:rgba(0,160,240,1.0);
			}
			.cardStyleBlue:hover{
				background: -webkit-linear-gradient(right, rgb(0, 64, 88), rgb(0,160,240));
				background: -o-linear-gradient(right, rgb(0, 64, 88), rgb(0,160,240));
				background: -moz-linear-gradient(right, rgb(0, 64, 88), rgb(0,160,240));
				background: linear-gradient(to right, rgb(0, 64, 88), rgb(0,160,240));
			}
			.redCard{
				border: 1px solid rgba(100,100,100,0,5);
				padding:5px;
				border-radius:5px;
				box-shadow:0px 2px 1px 0px rgba(80,80,80,0.4);
				background-color:rgba(240,0,0,1.0);
			}
			.blackCard{
				border: 1px solid rgba(100,100,100,0,5);
				padding:5px;
				border-radius:5px;
				box-shadow:0px 2px 1px 0px rgba(80,80,80,0.4);
				background-color:rgba(100,100,100,0.5);
			}
			.blackCardNS{
				border: 0px solid rgba(100,100,100,0.5);
				padding:5px;
				background-color:rgba(50,100,150,0.5);
			}
			.cardHover{
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
				padding: 10px;
				border-left: 5px solid transparent;
			}
			.cardHover:hover{
				z-index:5;
				border-left: 5px solid #0cf;
				box-shadow:0px 2px 1px 0px rgba(80,80,80,0.2);
				background-color:#ffffff;
				
			}
			.cardHoverBlue{
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
				padding: 10px;
				border-left: 5px solid transparent;
				background-color: rgba(0,160,240,1.0);
				border-radius: 2px;
				color:#fff;
			}
			.cardStyleLBlue{
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
				padding: 10px;
				border-left: 5px solid #0cf;
				box-shadow:0px 2px 1px 0px rgba(80,80,80,0.2);
				background-color:#ffffff;
			}
			.cardStyleDBlue{
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
				padding: 10px;
				border-left: 5px solid rgba(0,160,240,1.0);
				box-shadow:0px 2px 1px 0px rgba(80,80,80,0.2);
				background-color:#ffffff;
			}
			.cardStyleYellow{
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
				padding: 10px;
				border-left: 5px solid #fc0;
				box-shadow:0px 2px 1px 0px rgba(80,80,80,0.2);
				background-color:#ffffff;
			}
			.cardStyleGreen{
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
				padding: 10px;
				border-left: 5px solid #0d6;
				box-shadow:0px 2px 1px 0px rgba(80,80,80,0.2);
				background-color:#ffffff;
			}
			.cardStyleRed{
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
				padding: 10px;
				border-left: 5px solid rgba(240,0,0,1.0);
				box-shadow:0px 2px 1px 0px rgba(80,80,80,0.2);
				background-color:#ffffff;
			}
			.cardStyleOrange{
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
				padding: 10px;
				border-left: 5px solid rgba(255,100,0,1.0);
				box-shadow:0px 2px 1px 0px rgba(80,80,80,0.2);
				background-color:#ffffff;
			}
			.cardStyleBlack{
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
				padding: 10px;
				border-left: 5px solid rgba(80,80,80,0.5);
				box-shadow:0px 2px 1px 0px rgba(80,80,80,0.2);
				background-color:#ffffff;
			}
			.cardStyleNone{
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
				padding: 10px;
			}
			.cardStyleNone:hover{
				border-left: 5px solid #0cf;
				box-shadow:0px 2px 1px 0px rgba(80,80,80,0.2);
			}
			.cardStyleDividerGrey{
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
				border-left: 2px solid #ccc;
				box-shadow:0px 2px 1px 0px rgba(80,80,80,0.2);
				background-color:#ffffff;
				padding: 10px;
			}
			.cardStyleDividerGrey:hover{
				border-left: 5px solid #0cf;
				box-shadow:0px 2px 1px 0px rgba(80,80,80,0.2);
			}
			.divider{
				border-left: 1px solid rgba(80,80,80,0.2);
			}
			.nmtMenu{
				background-color:rgba(230,240,250,1.0);
				padding:25px;
				border-left: 5px solid rgba(0,160,240,1.0);
			}
			.main{
				margin-top: 100px;
			}
			.btn-transparent{
				background-color: transparent;
				border: 2px solid transparent;
			}
			
			.presentationMenu{
				margin-top: -15px;
			}
			.archorApresentation{
				margin-left: 20px;
				padding: 10px;
				border-left: 2px solid #0cf;
				background-color:rgba(200,210,220,1.0);
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
			}
			.archorApresentation:hover{
				border-left: 2px solid #0cf;
			}
			.line{
				margin-left: 10px;
				border-left: 2px solid rgba(80,80,80,0.3);
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s
			}
			.line:hover{
				border-left: 2px solid #0cf;
			}
			.alocation{
				color:#0cf; 
				font-size:28px;
			}
			.explainOff{
				display:none;	
			}
			.img-circle{
				border: 2px solid rgba(150,150,150,0.5);
				width: 50px;
				height: 50px;
			}
			.singleNavegation{
				background-color:rgb(50, 100, 150);
				box-shadow: 2px 2px 5px 0px rgba(50,50,50,0.5);
			}
			
			.navbarColor{
				background-color:rgba(0,100,150,1.0);
				/*
				background: -webkit-linear-gradient(right, rgb(4, 42, 60), rgb(0,160,240)); 
				background: -o-linear-gradient(right, rgb(4, 42, 60), rgb(0,160,240));
				background: -moz-linear-gradient(right, rgb(4, 42, 60), rgb(0,160,240));
				background: linear-gradient(to right, rgb(4, 42, 60), rgb(0,160,240));*/
				box-shadow: 2px 2px 5px 0px rgba(50,50,50,0.5);*/
			}
			.navStyle{
				border-radius: 5px;
				background-color:rgba(0,120,200,1.0);
				/*
				background: -webkit-linear-gradient(right, rgb(4, 42, 60), rgb(0,160,240));
				background: -o-linear-gradient(right, rgb(4, 42, 60), rgb(0,160,240));
				background: -moz-linear-gradient(right, rgb(4, 42, 60), rgb(0,160,240));
				background: linear-gradient(to right, rgb(4, 42, 60), rgb(0,160,240));*/
				box-shadow: 2px 2px 5px 0px rgba(50,50,50,0.5);*/
			}
			
			.logo{
				color: rgba(255,255,255,1.0);
			}
			.hoverLight{
				text-decoration:none;
			}
			
			.maisTempoChkd{
				display: none;
			}
			.glyphicon-th-list{
				color:#999;
			}
			.stype, .stype:hover{
				color:#aaa;
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
			}
			.formularios{
				border:1px solid #e8e8e8;
				border-radius: 5px;
			}
			.feedcolor{
				color:#bbb;
			}
			.access{
				font-size: inherit;
				border: 0px solid #a0a0a0;
				border-radius: 15px;
				background-color: rgba(250, 250, 250, 0.7);
				color: #444;
				box-shadow: 5px 5px 20px 1px #858585;
				display:none;
				font-family: Play,roboto,museo,arial,tahoma,verdana,sans-serif;
			}
			.accessDESATIVADO:hover{
				background-color: #dfdfdf;
				color: #444;
			}
			.fontPlay{
				font-family: Play,roboto,museo,arial,tahoma,verdana,sans-serif;
			}
			.control-label{
				font-size:18px;
			}
			.informativo{
				font-size: inherit;
				border: 1px solid rgba(20,150,225,0.5);
				border-radius: 15px;
				background-color: #0085f0;
				color: #fff;
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
			}
			.informativoDESATIVADO:hover{
				background-color: rgba(20,90,180,1.0);
				border: 1px solid #00a0ff;
			}				
			.result{
				padding-top: 70px;
			}
			.resultUser{
				padding-top: 70px;
			}
			.resultManegarUser{
				padding-top: 70px;
			}
			.bottomUp{
				padding-top: 10px;
			}
			
			.informativoUser, .information{
				font-size: inherit;
				border: 1px solid rgba(90,90,90,0.5);
				border-radius: 5px;
				background-color:rgb(44, 62, 80);
				color: #fff;
				font-family: Play,roboto,museo,arial,tahoma,verdana,sans-serif;
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
			}
			.informativoUser:hover, .information:hover{
				background-color:rgba(0, 130, 200, 1.0);
				color: #fff;
			}
			.infUser{
				font-size: inherit;
				border: 1px solid rgba(90,90,90,0.5);
				border-radius: 5px;
				background-color:rgb(44, 62, 80);
				color: #fff;
				font-family: Play,roboto,museo,arial,tahoma,verdana,sans-serif;
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
			}
			.infUser:hover{
				background-color:rgba(0, 130, 200, 1.0);
				color: #fff;
			}
			.admHead,.selection{
				background-color: #fefefe;
				color: rgba(70,70,70,1.0);
				border-radius: 5px;
				border: 1px solid #bbbbcc;
				margin-bottom: 5px;
				font-size: 14px;
				font-family: Play,roboto,museo,arial,tahoma,verdana,sans-serif;
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
			}
			.admHead:hover,.selection:hover{
				background-color: #dddddd;
				border: 1px solid #00a0ff;
			}
			.selection{
				padding:7px;
			}
			.chkBox{
				width:18px;
				height:18px;
			}
			.maisTempo{
				position:relative;
				top:0px;
				color: rgba(255,0,0,0.7);
			}
			.mouseEnterView{
				top:5px;
				display:none;
				font-size:12px;
				position:relative; 
				margin-bottom:10px; 
				width:70%;
			}
			.tabOpt{
				width:100%;
			}
			.tab-content{
				margin-top: 10px;
			}
			.hoverLight{
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
			}
			.hoverLight:hover{
				color:#00aaff;
			}
			.bottomFooter{
				z-index: 2;
				display:block;
				clear: both;
				color: #fff;
				padding: 10px 50px;
				background-color:rgba(0,100,150,1.0);
				max-height:35px;
				font-family: Play,roboto,museo,arial,tahoma,verdana,sans-serif;
				/*
				background: -webkit-linear-gradient(right, rgb(4, 42, 60), rgb(0,160,240));
				background: -o-linear-gradient(right, rgb(4, 42, 60), rgb(0,160,240));
				background: -moz-linear-gradient(right, rgb(4, 42, 60), rgb(0,160,240));
				background: linear-gradient(to right, rgb(4, 42, 60), rgb(0,160,240));*/
			}
			.bootomSingle{
				z-index: 2;
				display:block;
				clear: both;
				color: #fff;
				padding: 10px 50px;
				max-height:35px;
				font-family: Play,roboto,museo,arial,tahoma,verdana,sans-serif;
				background-color:rgb(50, 100, 150);
				/*
				background: -webkit-linear-gradient(right, rgb(80,80,80), rgb(150, 150, 150));
				background: -o-linear-gradient(right, rgb(80,80,80), rgb(150, 150, 150));
				background: -moz-linear-gradient(right, rgb(80,80,80), rgb(150, 150, 150));
				background: linear-gradient(to right, rgb(80,80,80), rgb(150, 150, 150));*/
				box-shadow: 2px 2px 5px 0px rgba(50,50,50,0.5);
			}
			.blinkObj{
				border-radius:10px; 
				box-shadow:0px 0px 20px 5px #ff0000;
				margin-top:5px;
			}
			
			.manegerUser{
				background-color: #fff;
				color: #555;
				border-radius: 4px;
				margin-top: 1px;
				margin-bottom: 5px;
				box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.5);
			}
			.manegerUserPhoto{
				background-color: #ddd;
				border-radius: 4px;
			}
			.manegerUserField{
				padding-left:5px;
			}
			
			.active-menu{
				z-index:2;
				width: 100px;
				position: fixed;
				left:0px;
				top:0px;
				height:100%;
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
			}
			.menu-left{
				z-index: 3;
				width: 300px;
				position: fixed;
				left:-290px;
				top:0px;
				height:100%;
				color: #ffffff;
				background-color: rgba(24, 52, 70, 1.0);
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
			}
			.menu-left-bg{
				display:none;
				z-index: 1;
				position:absolute;
				top:0px;
				left:0px;
				width:100%;
				height:100%;
				background: -webkit-linear-gradient(bottom, rgba(50, 50, 50, 0.7), transparent); /* For Safari 5.1 to 6.0 */
				background: -o-linear-gradient(bottom, rgba(50, 50, 50, 0.7), transparent); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(bottom, rgba(50, 50, 50, 0.7), transparent); /* For Firefox 3.6 to 15 */
				background: linear-gradient(to bottom, rgba(50, 50, 50, 0.7), transparent); /* Standard syntax */
			}
			
			.emptyMessage{
				padding: 100px; 
				color:#a00;
				width: 100%;
				height: 100%;
				border-radius: 10px;
				margin-top: 70px;
				background: -webkit-linear-gradient(top, rgba(4, 42, 60, 0.2), transparent); /* For Safari 5.1 to 6.0 */
				background: -o-linear-gradient(top, rgba(4, 42, 60, 0.2), transparent); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(top, rgba(4, 42, 60, 0.2), transparent); /* For Firefox 3.6 to 15 */
				background: linear-gradient(to top, rgba(4, 42, 60, 0.2), transparent); /* Standard syntax */
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
			}
			.blockquoteMenu{
				background-color: transparent;
				border-left: 5px solid #07b;
			}
			.showmsgbody{
				padding-bottom:5px;
			}
			.menuBar{
				margin-top:0px;
				border: 1px solid rgba(0,80,120,0.2);
			}
			.confirmationBG{
				display:none;
				z-index:49;
				position:absolute;
				top:0px;
				left:0px;
				width:100%;
				height:100%;
				background: -webkit-linear-gradient(bottom, rgba(4, 42, 60, 0.2), transparent); /* For Safari 5.1 to 6.0 */
				background: -o-linear-gradient(bottom, rgba(4, 42, 60, 0.2), transparent); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(bottom, rgba(4, 42, 60, 0.2), transparent); /* For Firefox 3.6 to 15 */
				background: linear-gradient(to bottom, rgba(4, 42, 60, 0.2), transparent); /* Standard syntax */
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
			}
			.confirmDiv{
				z-index:50;
				display:none;
				position:fixed;
				top:0px;
				left:0px;
				right:0px;
				bottom:0px;
				width: 400px;
				height: 200px;
				background-color:rgba(0,62,80,0.9);
				box-shadow:5px 5px 5px 0px rgba(120,120,120,0.8);
				border-left: 5px solid #0cf;
				color: #fff;
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
			}
			.msgBoxDiv{
				padding-top: 5px;
				padding-left: 5px;
				margin-bottom:-10px;
				font-size: 20px;
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
			}
			.msgBoxBody{
				display:none;
				margin-left: 10px;
				
			}
			
			.return{
				z-index: 1;
				color:#fff;
				padding-left: 10px;
				padding-right: 10px;
				position: relative;
				top:45%;
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
			}
			.return:hover{
				color:rgba(40,40,40,0.5);
			}
			.inputAdd{
				background-color:#00a040;
				border: 2px solid #00a040;
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
			}
			.clean{
				position: relative;
				top:0px;
				margin-top:0px; 
				margin-left:4px; 
				background-color:#00a040;
				border: 2px solid #00a040;
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
			}
			.marginlimiter{
				margin-top: 3px;
				padding-bottom: 120px;
			}
			.inputAdd:hover, .clean:hover{
				background-color:#008020;
				
			}
			.checkOk{
				color: green;
				text-shadow: 2px 2px rgba(50,50,50,0.5);
			}
			.checkOkIcon{
				color: #ffffff;
				text-shadow: 2px 2px rgba(50,50,50,0.5);
			}
			.checkTimes{
				color: red;
				text-shadow: 2px 2px rgba(50,50,50,0.5);
			}
			.motivoTxtArea{
				resize: none;
			}
			.userinformation{
				padding-top:10px;
				position:relative; 
				bottom:30px;
				width:70%;
			}
			.noDecoration{
				text-decoration: none;
			}
			.msgAlert{
				display:;
				background-color:#ff0000;
				border-radius: 20px;
				position:absolute;
				font-size:16px;
				top:-10px;
				left:-80px;
				box-shadow: 2px 2px rgba(50,50,50,0.5);
			}
			.noUserGroup{
				text-align: center;
				font-size: 22px;
				margin-top:40px;
				color:#aa0000;
			}
			.resultBody{
				padding: 0px;
				margin-bottom: 120px;
			}
			.ddButton{
				margin-bottom: 10px;
				-webkit-transition-duration: 0.4s; 
				transition-duration: 0.4s;
			}
			
			.footIconDiv{
				top:-7px;
			}
			.footIcon{
				width:30px;
				height:30px;
			}
			.draggable{
				display:none;
				z-index:9;
				position:absolute;
				top:0px;
				background-color: rgba(50, 50, 50, 0.8);
				width: 100%;
				height: 100%;
				color:#ffffff;
			}
			.dragIcon{
				position:absolute;
				top: 30%;
				bottom: 0px;
				left: 0px;
				right: 0px;
				margin: auto;
				text-align: center;
				font-size:50px;
			}
			.msgSelection{
				background-color: #f8f8f8;
				border-radius: 5px;
				border: 2px solid #e0e0e0;
				padding-bottom: 10px;
				padding-top: -20px;
				margin-top: 30px;
			}
			.close-times:hover{
				color: rgba(50,50,50,1.0);
			}
			.blockquote-in{
				border-left: 5px solid #0cf;
			}
			.bodymsg{
				position:absolute; 
				top:0px; 
				left:0px; 
				padding:80px; 
				width:95%; 
				height:100%; 
				display:none;
			}
			.pages{
				min-width:50px;
				min-height:50px;
				width:50px;
				height:50px;
				border-radius: 50px;
				border:5px solid #0cf;
				
			}
			.turn0 {
				transform:rotate(0deg);
				-ms-transform:rotate(0deg);
				-webkit-transform:rotate(0deg);
			}
			.turn180 {
				transform:rotate(180deg);
				-ms-transform:rotate(180deg);
				-webkit-transform:rotate(180deg);
			}
			.spinner_fst{
				-webkit-animation:spin 0.5s linear infinite;
				-moz-animation:spin 0.5s linear infinite;
				animation:spin 0.5s linear infinite;
			}
			.spinner_md{
				-webkit-animation:spin 1.0s linear infinite;
				-moz-animation:spin 1.0s linear infinite;
				animation:spin 1.0s linear infinite;
			}
			.spinner_slw{
				-webkit-animation:spin 1.5s linear infinite;
				-moz-animation:spin 1.5s linear infinite;
				animation:spin 1.5s linear infinite;
			}
			@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
			@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
			@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
			
			.fileUpload {
				position: relative;
				overflow: hidden;
				margin: 10px;
			}
			.fileUpload input.upload {
				position: absolute;
				top: 0;
				right: 0;
				margin: 0;
				padding: 0;
				font-size: 20px;
				cursor: pointer;
				opacity: 0;
				filter: alpha(opacity=0);
			}
			
			
/*Checkbox Toggle=======================================================================================================*/
.checkbox label .toggle,.checkbox-inline .toggle{margin-left:-20px;margin-right:5px;border-radius:20px;}
.toggle{position:relative;overflow:hidden}
.toggle input[type=radio]{display:none}
.toggle-group{position:absolute;width:200%;top:0;bottom:0;left:0;transition:left .35s;-webkit-transition:left .35s;-moz-user-select:none;-webkit-user-select:none}
.toggle.off .toggle-group{left:-100%}
.toggle-on{position:absolute;top:0;bottom:0;left:0;right:50%;margin:0;border:0;border-radius:0}
.toggle-off{position:absolute;top:0;bottom:0;left:50%;right:0;margin:0;border:0;border-radius:0}
/*-------------------------------------------------------------------------*/
.toggle-handle{position:relative;margin:0 auto;padding-top:0;padding-bottom:0;height:100%;width:0;border-width:0 0px;background-color:#f0f0f0;border-radius:20px;}
.toggle{min-width:59px;min-height:30px}
.toggle{max-width:59px;max-height:30px}
.toggle-on.btn_ch{padding:4px;padding-right:10px;background-color:#0090fa;}
.toggle-off.btn_ch{padding:4px;padding-left:10px;background-color:#cacaca;color:#555;}



		
/*FONTS=================================================================================================================*/		
/*PLAY---------------------------------------------------------------------------------------------*/			
/* cyrillic-ext */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: local('Play'), local('Play-Regular'), url(./fonts/_UIws5dpKC1RfhGPW_D7VQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: local('Play'), local('Play-Regular'), url(./fonts/VI6dwR3qOFADPI7kkTnlug.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: local('Play'), local('Play-Regular'), url(./fonts/4W1i2GqDprP6PUrv5L9lzw.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: local('Play'), local('Play-Regular'), url(./fonts/YjD7Z5idi6Khm_WnIgFa0Q.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: local('Play'), local('Play-Regular'), url(./fonts/ZNo-5SxCwH1CXgZ-n3bt2g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: local('Play Bold'), local('Play-Bold'), url(./fonts/PpjZAP-K8gv39BSLNS1xY_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: local('Play Bold'), local('Play-Bold'), url(./fonts/lZe8LJu6XJeAnu9eXxtEnPY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: local('Play Bold'), local('Play-Bold'), url(./fonts/VN3OcQJbzFDCcT5DR4FoP_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: local('Play Bold'), local('Play-Bold'), url(./fonts/mYWcwxMP0u4-zvfazCFrVfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: local('Play Bold'), local('Play-Bold'), url(./fonts/d8o4OpWQkZkrWqhvSfqU1Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 200;
  src: local('Play Bold'), local('Play-Regular'), url(./fonts/Play.ttf) format("truetype");
}

/*Roboto--------------------------------------------------------------------------*/
@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("../fonts/roboto/Roboto-Thin.eot");
  src: url("../fonts/roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff"), url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("../fonts/roboto/Roboto-Light.eot");
  src: url("../fonts/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.eot");
  src: url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Medium.eot");
  src: url("../fonts/roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.eot");
  src: url("../fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
/*Aaargh--------------------------------------------------------------------------*/
@font-face {
  font-family: 'Aaargh';
  src: url("../fonts/Aaargh/Aaargh-webfont.eot");
  src: url("../fonts/Aaargh/Aaargh-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Aaargh/Aaargh-webfont.woff2") format("woff2"), url("../fonts/Aaargh/Aaargh-webfont.woff") format("woff"), url("../fonts/Aaargh/Aaargh-webfont.ttf") format("truetype");
  font-weight: 700;
}
/*JUNCTION--------------------------------------------------------------------------*/
@font-face {
  font-family: 'junction';
  src: local(junction regular), url("../fonts/junction/junction-regular.eot");
  src: url("../fonts/junction/junction-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/junction/junction-regular.woff2") format("woff2"), url("../fonts/junction/junction-regular.woff") format("woff"), url("../fonts/junction/junction-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: regular;
}
@font-face {
  font-family: 'junction';
  src: local(junction light), url("../fonts/junction/junction-light.eot");
  src: url("../fonts/junction/junction-light.eot?#iefix") format("embedded-opentype"), url("../fonts/junction/junction-light.woff2") format("woff2"), url("../fonts/junction/junction-light.woff") format("woff"), url("../fonts/junction/junction-light.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'junction';
  src: local(junction bold), url("../fonts/junction/junction-bold.eot");
  src: url("../fonts/junction/junction-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/junction/junction-bold.woff2") format("woff2"), url("../fonts/junction/junction-bold.woff") format("woff"), url("../fonts/junction/junction-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: bold;
}
/*LEAGUEGOTHIC---------------------------------------------------------------------*/
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic/leaguegothic-italic-webfont.eot');
    src: url('../fonts/leaguegothic/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic/leaguegothic-italic-webfont.woff') format('woff'),
         url('../fonts/leaguegothic/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
	font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('../fonts/leaguegothic/leaguegothic-condensed-regular-webfont.eot');
    src: url('../fonts/leaguegothic/leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic/leaguegothic-condensed-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic/leaguegothic-condensed-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('../fonts/leaguegothic/leaguegothic-condensed-italic-webfont.eot');
    src: url('../fonts/leaguegothic/leaguegothic-condensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic/leaguegothic-condensed-italic-webfont.woff') format('woff'),
         url('../fonts/leaguegothic/leaguegothic-condensed-italic-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg') format('svg');
    font-weight: normal;
    font-style: italic;
}
/*MUSEO------------------------------------------------------------------------------------------*/
@font-face {
    font-family: 'museo';
    src: url('../fonts/Museo/Museo_Slab_500_2-webfont.eot');
    src: url('../fonts/Museo/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo/Museo_Slab_500_2-webfont.woff2') format('woff2'),
         url('../fonts/Museo/Museo_Slab_500_2-webfont.woff') format('woff'),
         url('../fonts/Museo/Museo_Slab_500_2-webfont.ttf') format('truetype'),
         url('../fonts/Museo/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;
}			
			